<!doctype html>
<html lang="ru">
	<head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <title>Колыванский завод</title>

        <!-- Bootstrap CSS -->
        {% load staticfiles %}
	    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">

	    <!-- Подключение своего CSS файла -->
	    <link rel="stylesheet" href="{% static 'kolMag/css/main.css' %}">
    </head>

	<body>
		<!-- Создание шапки сайта -->
        <!-- navbar - для создания самой шапки, navbar-expand-md - указываем, что шапка на весь экран (большая),
            navbar-light - светлая, bg-light - текст тёмный, шапка светлая, sticky-top - шапка прикреплена к верху страницы -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
            <!-- Блок растянут на всю ширину экрана, в нём лого и кнопка с меню -->
            <a href="/" class="navbar-brad">
                <img src="{% static 'kolMag/image/logo.png' %}">
                <!-- navbar-brad - логотип поместим в шапку сайта -->
            </a>

            <!-- Создание кнопки "Меню" для маленьких экранов
                data-toggle="collapse" - кнопка отвечает за раскрытие меню
                data-target - ссылка на объект, который мы будем раскрывать-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <!-- navbar-toggler-icon - иконка меню -->
                <span class="navbar-toggler-icon"></span>
                <!-- Создаём меню -->
            </button>
            <!-- navbar-collapse - чтобы меню пряталось на маленьких и показывалось на больших устройствах -->
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <!-- ml-auto - была прижата сбоку справа или по центру в развёрнутом виде -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="/list_products" class="nav-link">Изделия</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Камни</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Авторы и мастера</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Контакты</a>
                    </li>
                </ul>
                <!--<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Например, щегол" aria-label="Поиск">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
                </form>-->
                </div>
            </div>
        </nav>
        {% block content %}
		{% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
	</body>
</html>

