{% block content %}

<div class="container-fluid card-deck alert">
	<div class="row">
		<form action="saveAdd" method="POST">
		  <div class="form-row">
		  	<div class="form-group col-md-12 col-lg-12">
		      <label for="inputName">Название: </label>
		      <input type="name" class="form-control form-control-lg" id="inputName" name="inputName" required>
		    </div>
		    <div class="form-group col-md-12 col-lg-12">
		      <label for="inputFile">Фото изделия: </label>
		      <!-- Загрузка файла
		      	<input type="file" class="form-control-file form-control-lg" id="inputFile"> -->
		      	<input type="nameFile" class="form-control form-control-lg" id="inputFile" name="inputFile" required>
		    </div>
		    <div class="form-row">
			    <div class="form-group col-md-4 col-lg-4">
			      <label for="inputPrice">Цена: </label>
			      	<input type="namePrice" class="form-control form-control-lg" id="inputPrice" name="inputPrice" pattern="[0-9]+" required>
			    </div>
			    <div class="form-group col-md-4 col-lg-4">
			      <label for="inputLength">Длина: </label>
			      	<input type="nameLength" class="form-control form-control-lg" id="inputLength" name="inputLength" pattern="[0-9]+" required>
			    </div>
			    <div class="form-group col-md-4 col-lg-4">
			      <label for="inputHeight">Высота: </label>
			      	<input type="nameHeight" class="form-control form-control-lg" id="inputHeight" name="inputHeight" pattern="[0-9]+" required>
			    </div>
			</div>
		    <div class="form-group col-md-12 col-lg-12">
		      <label for="inputDescription">Описание: </label>
				  <textarea class="form-control" id="inputDescription" name="inputDescription" rows="5" required></textarea>
		    </div>
		    <div class="form-group col-md-12 col-lg-12">
		      <label for="inputFullDescription">Подробное описание: </label>
				  <textarea class="form-control" id="inputFullDescription" name="inputFullDescription" rows="10" required></textarea>
		  	</div>
		  </div>
		  <div class="form-row">
		  	<div class="form-group col-md-6 col-lg-6">
		      <label for="inputNameAuthor">Автор: </label>
		      <select id="inputNameAuthor" name="inputNameAuthor" class="form-control form-control-lg">
		      	{% for item in authors %}
		        	<option selected>{{item.name}}</option>
		        {% endfor %}
		      </select>
		    </div>
		    <div class="form-group col-md-6 col-lg-6">
		      <label for="inputStone">Преобладающий материал: </label>
		      <select id="inputStone" name="inputStone" class="form-control form-control-lg">
		      	{% for item in stones %}
		        	<option selected>{{item.name}}</option>
		        {% endfor %}
		      </select>
		    </div>
		  </div>
		  <button type="save" class="btn btn-primary" id="save">Сохранить</button>
		</form>
	</div>
</div>

{% endblock %}