{% block content %}

<div class="container-fluid card-deck alert">
	<div class="row">
	  <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-3">
		<img src="../image/main.jpg" class="card-img-top" alt="Большая колыванская ваза">
		<div class="card-body">
		  <h5 class="card-title text-center">Большая колыванская ваза</h5>
		  <p class="card-text text-center">Большая колыванская ваза (иногда называемая в популярных источниках «царицей ваз») из зелёно-волнистой яшмы — произведение камнерезного искусства, экспонирующееся в государственном Эрмитаже. Вес каменного изделия составляет 19 тонн. Высота вазы с пьедесталом — 2,57 м, большой диаметр составляет 5,04 м, а малый — 3,22 м. Это самая большая ваза в мире.</p>
		  <a href="product.html" class="btn btn-primary">Подробнее</a>
		  <a href="admin_edit.html" class="btn btn-primary">Изменить</a>
		  <a href="#" class="btn btn-danger">Удалить</a>
		</div>
	  </div>
	</div>
</div>

{% endblock %}