{% block content %}

{% load staticfiles %}
<div class="container-fluid card-deck alert">
	<div class="row">
	  {% for item in stoneProduct %}
	  <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-3">
		  {% if item.image %}
		  	<img src="{% static item.image %}" class="card-img-top" alt="{{item.name}}">
		  {% endif %}
		<div class="card-body">
		  <h5 class="card-title text-center">{{item.name}}</h5>
		  <p class="card-text text-center">{{item.description}}</p>
		  <form action="product" method="POST">
		  	<input type="hidden" name="author" value="{{ item.id_author_id }}">
		  	<input type="hidden" name="stone" value="{{ item.id_list_materials_id }}">
		  	<button type="submit" class="btn btn-primary" name="view" value="{{ item.id }}">Подробнее</button>
		  </form>
		</div>
	  </div>
	  {% endfor %}
	</div>
</div>

{% endblock %}