{% block content %}

<!-- Основной блок сайта -->
<div class="container-fluid">
    <div class="row jumbotron alert">
        {% load staticfiles %}

        <!-- row - определенный ряд, jumbotron - то, что блок серого цвета -->
        <div class="media align-self-center col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <img src="{% static 'kolMag/image/main.jpg' %}" class="img-fluid" alt="Большая Колыванская ваза (Эрмитаж)">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <!-- xs-12 - сохранение 100% растяжки сайта для маленьких экранов на все 12 колонок, sm-12 - для экранов побольше,
            md-9 - для планшетов, ещё 3 колонки для кнопки, lg-9 - ноутбуки, xl-10 - для 4К дисплеев -->

            <!-- lead - для текста -->
            <p class="lead">Камень при всей своей силе и мудрости - материал деликатный и хрупкий. Гармония формы и содержания изделия из алтайского камня возможна только на базе традиций мастеров Колывани. Колывань точит камень более 200 лет. Приходится быть профессионалом вдвойне, чтобы магия нашего камня ожила и стала дарить свою мудрость людям. Их история неразрывно связана с Колыванью и с Российской Империей. Выступая символом императорского двора, вазы Колывани расходились по миру в качестве дипломатических подарков. Сегодня их можно встретить в Государственном Эрмитаже, Павловском дворце, в музеях многих городов России и столиц мира. Изделия Колыванского камнерезного завода всегда удивляли своим исполнением и красотой. Нашим эксклюзивным изделиям нет подобных и равных в мире! Они изготовлены из камня высокой прочности и поистине вечны.</p>
        </div>
        <div class="align-self-center col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"> <!-- для кнопки -->
            <a href="pages/list_products.html"><button class="btn btn-success btn-lg ml-3" type="button">Смотреть изделия завода</button></a>
        </div>
    </div>
</div>

<!-- Блок с характеристиками -->
<div class="container-fluid">
     <div class="row text-center alert">
        <div class="col-12">
            <h1 class="display-4">Колыванский камнерезный завод им. И. И. Ползунова</h1>
        </div>
        <hr>
        <div class="col-12">
            <p class="lead">Колыванский камнерезный завод (полное название Государственное унитарное предприятие «Колыванский камнерезный завод имени И. И. Ползунова») — предприятие по обработке камня в Алтайском крае РФ. Расположено в селе Колывань Курьинского района.</p>
        </div>
     </div>
</div>

<!-- Блок Камней и Авторов -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h3><a href="#" style="color: #222">Камни</a></h3>
            <p>Чудо сырьё - наше главное чудо!</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h3><a href="#" style="color: #222">Авторы и мастера</a></h3>
            <p>Творцы и идеологи завода, те, без кого мы не мы!</p>
        </div>
    </div>
</div>

{% endblock %}