{% block content %}

{% load staticfiles %}

  	<div class="container-fluid alert">
  		<div class="row">
	  	  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
	  	  {% if oneProduct.image %}
	  	  	<img src="{% static oneProduct.image %}" class="img-fluid" alt="{{ oneProduct.name }}">
	  	  {% endif %}
	  	  </div>
		  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-10">
		    <h5>{{ oneProduct.name }}</h5>
		    {% if oneProduct.full_description %}
		    	<p>{{ oneProduct.full_description }}</p>
		    {% endif %}
		    <br>
		    <h6>Автор работы: {{ author.name }}</h6>
		    <h6>Преобладающий материал: {{ stone.name }}</h6>
		  </div>
		</div>
	</div>

{% endblock %}